extends ../layout

block content
    div#content-wrapper
        h1(class='center').
            Photos #{photo.uniqueurl}
        form(action='/photos/#{photo.uniqueurl}/edit',method='post',name='updatephoto',enctype='application/x-www-form-urlencoded')
          p First Name: 
            input#inputFirstName(type="text", value='#{photo.fname}', name="fname")
          p Last Name: 
            input#inputLastName(type="text", value='#{photo.lname}', name="lname")
          p Twitter Username: 
            input#inputTwitter(type="text", value='#{photo.twitter}', name="twitter")
          p Company: 
            input#inputCompany(type="text", value='#{photo.company}', name="company")
          p Title: 
            input#inputTitle(type="text", value='#{photo.title}', name="title")
          p Do you want to subscribe to the EMC {code} Newsletter? 
            br
            input#inputNewsletter(type="checkbox", name="newsletter", checked=('#{photo.newsletter}'==='true' ? "checked" : undefined))
            | Heck Yes!
          p What technologies do you want to learn more about? 
            br
            input#inputTopics(type="checkbox", name="interests", value="Docker Hackday", checked=('#{photo.contentlearn.indexOf("Docker Hackday")}'=== '-1' ? undefined : "checked"))
            | Docker Hackday
            br
            input#inputTopics(type="checkbox", name="interests", value="DevOps GeekWeek", checked=('#{photo.contentlearn.indexOf("DevOps GeekWeek")}'=== '-1' ? undefined : "checked"))
            | DevOps GeekWeek
            br
            input#inputTopics(type="checkbox", name="interests", value="DevOps Field Accred", checked=('#{photo.contentlearn.indexOf("DevOps Field Accred")}'=== '-1' ? undefined : "checked"))
            | DevOps Field Accred
            br
            input#inputTopics(type="checkbox", name="interests", value="Web Automation Center", checked=('#{photo.contentlearn.indexOf("Web Automation Center")}'=== '-1' ? undefined : "checked"))
            | Web Automation Center
            br
          p 
          input(type='hidden',value='PUT',name='_method')
          button#btnSubmit(type='submit').
            Update