extends ../layout

block content
    div#content-wrapper
        h1(class='center').
            Infophoto #{infophoto.uniqueurl}
        form(action='/infophotos/#{infophoto.uniqueurl}/edit',method='post',name='updateinfophoto',enctype='application/x-www-form-urlencoded')
          p First Name: 
            input#inputFirstName(type="text", value='#{infophoto.fname}', name="fname")
          p Last Name: 
            input#inputLastName(type="text", value='#{infophoto.lname}', name="lname")
          p Twitter Username: 
            input#inputTwitter(type="text", value='#{infophoto.twitter}', name="twitter")
          p Company: 
            input#inputCompany(type="text", value='#{infophoto.company}', name="company")
          p Title: 
            input#inputTitle(type="text", value='#{infophoto.title}', name="title")
          p Do you want to subscribe to the EMC {code} Newsletter? 
            br
            input#inputNewsletter(type="checkbox", name="newsletter", checked=('#{infophoto.newsletter}'==='true' ? "checked" : undefined))
            | Heck Yes!
          p Which demo was your favorite? 
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="s3motion", checked="#{infophoto.favoritedemo}"=="s3motion")
            | s3motion
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="Socieidos", checked="#{infophoto.favoritedemo}"=="Socieidos")
            | Socieidos
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="Vagrant-ScaleIO", checked="#{infophoto.favoritedemo}"=="Vagrant-ScaleIO")
            | Vagrant-ScaleIO
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="VagrantSpice", checked="#{infophoto.favoritedemo}"=="VagrantSpice")
            | VagrantSpice
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="Dockerized ScaleIO", checked="#{infophoto.favoritedemo}"=="Dockerized ScaleIO")
            | Dockerized ScaleIO
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="SnakeCharmer", checked="#{infophoto.favoritedemo}"=="SnakeCharmer")
            | Snake Charmer
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="Dockerized SymCLI", checked="#{infophoto.favoritedemo}"=="Dockerized SymCLI")
            | Dockerized SymCLI
            br
            input#inputFavDemo(type="radio", name="favoritedemo", value="NSX Tier Builder", checked="#{infophoto.favoritedemo}"=="NSX Tier Builder")
            | NSX Tier Builder
          p What technologies do you want to learn more about? 
            br
            input#inputTopics(type="checkbox", name="interests", value="Docker", checked=('#{infophoto.interests.indexOf("Docker")}'=== '-1' ? undefined : "checked"))
            | Docker
            br
            input#inputTopics(type="checkbox", name="interests", value="CoreOS", checked=('#{infophoto.interests.indexOf("CoreOS")}'=== '-1' ? undefined : "checked"))
            | CoreOS 
            br
            input#inputTopics(type="checkbox", name="interests", value="KungFu", checked=('#{infophoto.interests.indexOf("KungFu")}'=== '-1' ? undefined : "checked"))
            | Kung Fu
            br
            input#inputTopics(type="checkbox", name="interests", value="UK Basketball", checked=('#{infophoto.interests.indexOf("UK Basketball")}'=== '-1' ? undefined : "checked"))
            | UK Basketball
            br
          p 
          input(type='hidden',value='PUT',name='_method')
          button#btnSubmit(type='submit').
            Update